{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des recettes</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom de la recette</th>
                <th>Image</th>
                {# <th>Description</th>
                <th>Tempspreparation</th>
                <th>Tempsrepos</th>
                <th>Tempscuisson</th>
                <th>Ingredients</th>
                <th>Etapes</th>
                <th>Typesregimes</th>
                <th>Allergenes</th> #}
                {# <th>Accessible</th> #}
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                {# <td>{{ recette.id }}</td> #}
                <td>{{ recette.titre }}</td>
                <td><img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="{{ recette.imageName }}"></td>
                {# <td>{{ recette.description }}</td>
                <td>{{ recette.tempspreparation ? recette.tempspreparation|date('H:i:s') : '' }}</td>
                <td>{{ recette.tempsrepos ? recette.tempsrepos|date('H:i:s') : '' }}</td>
                <td>{{ recette.tempscuisson ? recette.tempscuisson|date('H:i:s') : '' }}</td>
                <td>{{ recette.ingredients }}</td>
                <td>{{ recette.etapes }}</td> #}
                {# <td>{{ recette.typesregimes }}</td>
                <td>{{ recette.allergenes }}</td> #}
                    {# {% for regime in recette.regimes %}
                <td>{{ regime.nom }}</td>
            {% endfor %}

            {% for allergie in recette.allergies %}
                <td>{{ allergie.nom }}</td>

            {% endfor %} #}
                 {# <td>{{ recette.access }}</td> #}
                <td>
                    <a class="btn" href="{{ path('app_recette_show', {'id': recette.id}) }}">Afficher</a>
                    <a class="btn" href="{{ path('app_recette_edit', {'id': recette.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_recette_new') }}">Créer une nouvelle recette</a>

</div>
<style>
.btn {
    background-color:#609A7D;
     color:FFFFFF;
       
}
.btn:hover {
  color: black;
}
h1 {
    font-family: Arial;
    text-align: center;
}
</style>
{% endblock %}
