{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}

<div class="container">
    <h1>Afficher la recette</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr> #}
            <tr>
                <th>Nom de la recette</th>
                <td>{{ recette.titre }}</td>
            </tr>
            <tr>
            <th>Image</th>
            <td><img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="{{ recette.imageName }}"></td>
        </tr>
            <tr>
                <th>Description</th>
                <td>{{ recette.description }}</td>
            </tr>
            <tr>
                <th>Temps de préparation</th>
                <td>{{ recette.tempspreparation ? recette.tempspreparation|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Temps de repos</th>
                <td>{{ recette.tempsrepos ? recette.tempsrepos|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Temps de cuisson</th>
                <td>{{ recette.tempscuisson ? recette.tempscuisson|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ingrédients</th>
                <td>{{ recette.ingredients }}</td>
            </tr>
            <tr>
                <th>Etapes</th>
                <td>{{ recette.etapes }}</td>
            </tr>
            {# <tr>
                <th>Typesregimes</th>
                <td>{{ recette.typesregimes }}</td>
            </tr>
            <tr>
                <th>Allergenes</th>
                <td>{{ recette.allergenes }}</td>
            </tr> #}
            <tr>
                <th>Types de régimes</th>
             {% for regime in recette.regimes %}
                <td>{{ regime.nom }}</td>
            {% endfor %}
            </tr>
            <tr>
                <th>Allergies</th>
            {% for allergie in recette.allergies %}
                <td>{{ allergie.nom }}</td>

            {% endfor %}
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_recette_index') }}">Précédent</a>

    <a class="btn" href="{{ path('app_recette_edit', {'id': recette.id}) }}">Modifier</a>

    {{ include('recette/_delete_form.html.twig') }}

</div>
<style>
.btn {
    background-color:#609A7D;
     color:FFFFFF;
     margin-top:2%;
     margin-left: 2%;
       
}
.btn:hover {
  color: black;
}
h1 {
    font-family: Arial;
    text-align: center;
}
</style>
{% endblock %}
