{% extends 'base.html.twig' %}

{% block title %}Allergie{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des allergies</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for allergie in allergies %}
            <tr>
                {# <td>{{ allergie.id }}</td> #}
                <td>{{ allergie.nom }}</td>
                <td>
                    <a class="btn" href="{{ path('app_allergie_show', {'id': allergie.id}) }}">Afficher</a>
                    <a class="btn" href="{{ path('app_allergie_edit', {'id': allergie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_allergie_new') }}">Créer une nouvelle allergie</a>
</div>
<style>
.btn {
    background-color:#609A7D;
     color:FFFFFF;
       
}
.btn:hover {
  color: black;
}
h1 {
    font-family: Arial;
    text-align: center;
}
</style>
{% endblock %}
