{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des patients</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numéro de téléphone</th>
                <th>Régimes</th>
                <th>Allergies</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td>{{ user.id }}</td> #}
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.numTel }}</td>
        {% for regime in user.regimes %}
                <td>{{ regime.nom }}</td>
            {% endfor %}

            {% for allergie in user.allergies %}
                <td>{{ allergie.nom }}</td>

            {% endfor %}
                
                <td>
                    <a class="btn" href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                    <a class="btn" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_register') }}">Créer un nouveau patient</a>

</div>
<style>
.btn {
    background-color:#609A7D;
     color:FFFFFF;
       
}
.btn:hover {
  color: black;
}
h1 {
    font-family: Arial;
    text-align: center;
}
</style>
{% endblock %}
